*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
.pro{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.pro .calculator #text{
       height: 30px;
      /* width:100px; */
      text-align: right;
      border: 1px solid black;
}
.pro .calculator button{
    padding: 10px;
}